@import url("https://fonts.googleapis.com/css2?family=Alata&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* list-style: none; */
}

:root {
  --primary: #002147;
  --fade-primary: #c1cfdf66;
  --secondary: #37ccb1;
  --font-rubik: "Rubik", sans-serif;
  --popp: "Poppins", serif;
  /* swiper pagination root */
  --swiper-pagination-color: var(--secondary);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

html {
  font-size: 16px;
  scroll-padding: 1.75rem;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #36454f;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rubik);
  color: var(--primary);
}

h1 {
  font-size: 3rem;
  color: var(--primary);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  position: relative;
  display: inline;
  font-size: 1.125rem;
}

h4::before {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 50px;
  right: -60px;
  top: 50%;
  content: "";
  background-color: var(--secondary);
}

h4::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 3rem;
  left: -60px;
  top: 50%;
  background-color: var(--secondary);
}

h4.after-only::after {
  display: none !important;
}

h4.after-only::before {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 50px;
  right: -60px;
  top: 50%;
  content: "";
  background-color: var(--secondary);
}

h4.none {
  display: block;
  font-size: 1.4rem;
}

h4.none::before {
  display: none;
}

h4.none::after {
  display: none;
}

h5 {
  font-size: 16px;
  color: var(--secondary);
}

h5.none {
  font-size: 1.25rem;
  color: var(--primary);
}

h6 {
  font-size: 1.075rem;
}

a:hover {
  text-decoration: none;
}

.c-pointer {
  cursor: pointer;
}

.f-500 {
  font-weight: 500 !important;
}

ul li {
  list-style-type: none;
  list-style: none;
}

ul {
  margin: 0px;
}

.btn {
  position: relative;
  color: #fff;
  line-height: 1;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  background: #09b850;
  border: none;
  border-radius: 6px;
  text-transform: capitalize;
  border: 2px solid #09b850;
  transition: all 0.3s ease 0s;
}

.btn.active {
  color: var(--primary);
  background: #fff;
  padding: 1rem 1.3rem;
}

span.down {
  position: relative;
  font-weight: 600;
  color: var(--secondary);
}

span.down::after {
  font-weight: 800 !important;
  position: absolute;
  content: "";
  width: 95%;
  height: 30%;
  background-color: var(--fade-primary);
  left: 3px;
  bottom: 0px;
  z-index: -1;
}

span.down.after-none::after {
  /* font-weight: 500; */
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--fade-primary);
  left: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 70%;
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
}

p {
  margin-bottom: 0px;
}

.er {
  border: 1px solid red !important;
}

.pri-col {
  color: var(--primary);
}

.sec-col {
  color: var(--secondary);
}

section {
  padding-top: 4rem;
  padding-bottom: 3.5rem;
}

.bg-gray {
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(205, 255, 238, 0.218) 65%);
  padding: 50px 0px;
  border-radius: 10px;
}

.rotate-180 {
  transform: rotateX(180deg);
  transition: all 0.4s;
}

i {
  transition: all 0.4s;
}

.space-y > div:not(:last-child) {
  margin-bottom: 50px;
}

/* {{{{{{{{}}}}}}}} */
/* btn css */
/* {{{{{{{{{}}}}}}}}} */

.btn-one {
  /* display: flex;
    align-items: center;
    column-gap: 10px; */
  background-color: var(--primary);
  border: none;
  padding: 12px 1.5rem;
  border-radius: 12px;
  color: white;
  margin-top: 20px;
  transition: all 0.4s;
}

.btn-one i {
  font-size: 14px;
  transition: all 0.4s;
}

.btn-one:hover {
  transform: translateY(-6px);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.85);
}

.btn-one:hover.btn-one i {
  transform: translateX(4px);
}

.btn-two {
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  margin-top: 20px;
  padding: 12px 20px;
  border: 2px solid var(--primary);
  transition: all 0.4s;
  background-color: white;
  text-align: center;
  border-radius: 12px;
  text-wrap: nowrap;
}

.btn-two:hover {
  transform: translateX(6px);
}

/* {{{{{{{{}}}}}}}} */
/* nav css */
/* {{{{{{{{{}}}}}}}}} */
header {
  position: relative;
  /* background: linear-gradient(to bottom, #fff, transparent, transparent); */
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.262); */
  z-index: 999;
}

header .top-bar {
  background-color: var(--primary);
  padding: 10px 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

a.hero_btn {
  font-size: 0.96rem;
  padding: 10px 1.25rem;
  color: #fff;
  background: linear-gradient(to right, #65dac4 0, #002147 100%);
  /* background-color: linear-gradient(to right, #65dac4 0, #002147 100%); */
  box-shadow: 0 10px 15px 0 #00214733;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

a.hero_btn:hover {
  color: #fff;
  background: linear-gradient(140deg, #65dac4 0, #002147 100%);
}

nav {
  padding: 0px 0px;
}

nav a:is(:target, :focus, :focus-visible) {
  outline: none;
}

nav .mobile_nav_btn {
  margin-right: 1rem;
  font-size: 1.5rem;
}

nav img {
  width: 140px;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

nav ul li a > i {
  font-size: 11px;
}

nav ul li > a:hover {
  color: var(--secondary);
}

nav ul li:not(:last-of-type) > a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 1px;
  width: 0%;
  right: 0px;
  border-radius: 40px;
  background-color: var(--primary);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

nav ul li a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
  background-color: var(--secondary);
}

.drop-nav {
  position: relative;
}

.drop-nav .drop-nav-list {
  position: absolute;
  opacity: 0%;
  pointer-events: none;
  z-index: 999;
  bottom: 0px;
  transform: translateY(100%);
  transition: all 0.4s;
}

.destination-con {
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(65, 65, 65, 0.363);
  padding: 20px;
  display: grid;
  width: 400px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.3rem;
  align-items: start;
  column-gap: 20px;
}

.destination-con.mobile-nav {
  background-color: white;
  border-radius: 12px;
  box-shadow: none;
  padding: 10px 0px 30px 6px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  align-items: start;
  column-gap: 4px;
}

.drop-nav:hover.drop-nav .drop-nav-list {
  opacity: 100%;
  pointer-events: all;
}

.destination-con .flag-con img {
  width: 40px;
}

.destination-con.mobile-nav .flag-con img {
  width: auto;
  height: 20px;
}

.drop-nav .destination-con .flag-con > div {
  font-weight: 500;
}

.destination-con.mobile-nav .flag-con > div {
  font-size: 12px;
}

.flag-con {
  transition: all 0.4s;
  cursor: pointer;
}

.flag-con:hover {
  transform: translateY(-4px);
}

.flag-con:hover.flag-con > div {
  text-decoration: underline;
}

/* {{{{{test prep css}}}}} */
.test-prep-con {
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(65, 65, 65, 0.363);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 6px;
  row-gap: 6px;
}

.test-prep-con.mobile-nav {
  box-shadow: none;
  padding: 0px;
  justify-items: start;
  column-gap: 0px;
}

.test-prep-con img {
  width: 120px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  padding: 20px;
  transition: all 0.1s;
}

.test-prep-con.mobile-nav img {
  padding: 20px;
  width: 90px;
}

.test-prep-con img:hover {
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.162);
  border-radius: 12px;
  transform: scale(1.06);
}

/* {{{{{{{{}}}}}}}} 
small nav
{{{{{{{{{}}}}}}}}} */

.small-nav-con {
  margin: 0px;
  padding: 0px;
}

.small-nav-con li {
  padding-block: 14px 6px;
  /* border-bottom: 1px solid #ddd; */
}

.small-nav-con > :is(li, div):not(:last-child) {
  border-bottom: 1px solid #dddddd5d !important;
}

.small-nav-con li a {
  font-weight: 500;
}

.small-nav-con li a:hover {
  text-decoration: underline;
}

/* {{{{{{{{}}}}}}}} */
/* title */
/* {{{{{{{{{}}}}}}}}} */

.title-con {
  text-align: center;
  margin-bottom: 3rem;
}

.title-con h4 {
  font-family: var(--popp);
}

.title-con > a {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.title-con > a:hover {
  color: var(--secondary);
}

/* {{{{{{{{}}}}}}}} */
/* hero sec */
/* {{{{{{{{{}}}}}}}}} */
.herosec-con {
  position: relative;
  height: 625px;
  overflow: hidden;
}

.herosec-con .cover-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.herosec-con .video_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 0;
  z-index: 0;
}

.herosec-con .video_container::before {
  content: "";
  position: absolute;
  inset: -1px;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, #fff, transparent);
  z-index: 1;
}

.herosec-con .video_container video {
  width: auto;
  height: 100%;
}

.herosec-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  background: linear-gradient(123deg, rgba(255, 255, 255, 1) 43%, rgba(183, 255, 198, 0) 58%);
}

.herosec-con .heroSlider {
  max-width: 400px;
}

.heroSlider .swiper-slide {
  text-align: center;
}

.heroSlider .swiper-slide img {
  height: 2rem;
  max-width: 100%;
  width: auto;
}

.herosec-con .hero-box-shadow {
  position: absolute;
  box-shadow: 1px 1px 100px 100px var(--secondary);
  top: 30%;
  left: 0px;
  z-index: 999;
  opacity: 14%;
}

.heroSlider img {
  height: 26px;
  margin: auto;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

/* {{{{{{{{}}}}}}}} */
/* About us*/
/* {{{{{{{{{}}}}}}}}} */
.about-us-points {
  display: flex;
  column-gap: 40px;
  margin-top: 20px;
  flex-direction: column;
  row-gap: 10px;
}

.about-us-points li {
  display: flex;
  column-gap: 12px;
  align-items: start;
}

.about-us-points .icon-con {
  width: 20px;
  height: 20px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}

/* {{{{{{{{}}}}}}}} */
/* service section */
/* {{{{{{{{{}}}}}}}}} */

/* {{{{{{{{}}}}}}}} */
/* scholarship section */
/* {{{{{{{{{}}}}}}}}} */
.ship-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 20px;
  /* background-color: white; */
  padding: 12px 20px;
  border-radius: 12px;
  width: 100%;
}

.ship-card .profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;
  transition: all 0.4s;
  border: 2px solid transparent;
}

.ship-card .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.ship-card h3 {
  font-size: 1.3rem;
  font-family: var(--popp);
  margin: 0px;
  padding: 0px;
}

.ship-card p {
  font-size: 12px;
}

/* swiper css */
.swiper {
  padding-bottom: 20px !important;
}

.swiper-pagination {
  bottom: 0px;
}

.partnerSlider .swiper-slide img {
  display: block;
  margin: auto;
  max-height: 60px;
  max-width: 160px;
  /* border: 1px solid red; */
}

.swiper-slide {
  transition: all 0.4s;
}

.swiper-button-next,
.swiper-button-prev {
  bottom: 10px;
  background-color: rgba(128, 128, 128, 0.161);
  width: 40px !important;
  border-radius: 40%;
  height: 40px !important;
  color: var(--primary) !important;
  box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.161);
  transition: all 0.4s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.06);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 18px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: 700;
}

.dreamSlider .swiper-slide {
  transform: scale(0.9) !important;
}

.dreamSlider .swiper-slide.swiper-slide-active {
  transform: scale(1.16) !important;
}

.dreamSlider .swiper-slide.swiper-slide-active .profile {
  border: 2px solid var(--secondary);
}

/* ==================  Aboutus FAQ  =================  */
.flat-toggle {
  margin-top: 10px;
  transition: all 0.5s;
  position: relative;
  border-bottom: 1px solid grey;
}

.active .toggle-title {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fw-medium {
  font-weight: 700;
}

.flat-toggle h4 {
  font-family: var(--popp);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

.toggle-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  margin: 0px;
  color: black;
  background: white;
  /* background-color: #ffc600; */
  padding: 15px 0.5rem 15px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}

.active .toggle-title {
  background: linear-gradient(177deg, #224ca3d9 44%, #4071d3 100%);
  color: rgb(245, 245, 245);
  padding-left: 15px;
}

.flat-toggle h5 {
  font-size: 16px;
}

.flat-toggle ul li {
  padding-bottom: 10px;
}

.ul-con {
  padding: 20px 10px;
  position: relative;
  z-index: 999;
}

.flat-toggle p {
  line-height: 25px;
  padding: 20px 10px;
}

.toggle-content {
  /* background-color: rgba(240, 240, 240, 0.8); */
  padding: 0px 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-height: 0px;
  top: -20px;
  opacity: 0%;
  overflow: hidden;
  transition: all 0.6s;
}

.active .toggle-content {
  opacity: 100%;
  max-height: 600px;
  /* padding: 30px 30px; */
  top: 0px;
  pointer-events: none;
}

.accordian-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.active .accordian-icon {
  transform: rotate(180deg);
  background-color: white;
  color: var(--primary);
}

.faq_sec .faq_show_btn {
  background: none;
  border: none;
  outline: none;
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.faq_sec .faq_show_btn:hover {
  color: var(--secondary);
}

/* {{{{{{{{}}}}}}}} */
/* {{{{{{testimonial section}}}}}} */
/* {{{{{{{{{{{{{}}}}}}}}}}}}} */
.testimonialSlider .swiper-slide {
  /* border: 1px solid red; */
}

.testimonial-card {
  width: 100%;
  /* border: 1px solid red; */
  color: white !important;
}

.testimonial-name {
  height: 200px;
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  overflow: hidden;
}

.testimonial-name .quote-con {
  position: absolute;
  height: 100%;
  left: 0%;
  font-size: 16px;
  padding: 25px;
  padding-right: 100px;
  /* border: 1px solid red; */
  background: linear-gradient(130deg, rgba(0, 0, 0, 0.773) 10%, rgba(0, 0, 0, 0.194) 72%);
}

.bg-blue-g {
  background-color: #f5fafe;
}

span.down.z-index-1::after {
  z-index: 9 !important;
}

.bg-blue-g .about_sec_left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, #f5fafe34, #f5fafe);
}

.testimonial-name img {
  object-fit: cover;
  width: 120px;
}

.testimonial-card.one .testimonial-name {
  color: white;
  background: radial-gradient(circle, #2183ec 4%, #004793 100%);
  border-radius: 18px 18px 0px 0px;
}

.testimonial-card.two .testimonial-name {
  color: white;
  background: radial-gradient(circle, #fa9b5c 4%, #ff7215 100%);
  border-radius: 18px 18px 0px 0px;
}

.testimonial-card.three .testimonial-name {
  color: white;
  background: radial-gradient(circle, rgb(246, 107, 107) 4%, rgb(232, 48, 48) 100%);
  border-radius: 18px 18px 0px 0px;
}

.testimonial-card.five .testimonial-name {
  color: white;
  background: radial-gradient(circle, #c27a5e 4%, #824d3a 100%);
  border-radius: 18px 18px 0px 0px;
}

.testimonial-name-content {
  background-color: rgba(241, 241, 241, 0.554);
  color: black;
  padding: 15px 20px;
  border-radius: 0px 0px 18px 18px;
  box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.162);
}

.testimonial-name-content p {
  color: rgb(87, 87, 87);
  font-size: 12px;
}

/* {{{{{{{{}}}}}}}} */
/* {{{{{{Categories section}}}}}} */
/* {{{{{{{{{{{{{}}}}}}}}}}}}} */
.categories-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 15px;
  background: linear-gradient(-260deg, rgba(255, 255, 255, 1) 25%, rgba(222, 222, 222, 0.139) 65%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.categories-card:hover {
  background: #fff;
  box-shadow: 0px 10px 18px 0px #dde5ec6b;
}

.categories-card img {
  height: 3.25rem;
  width: 3.25rem;
  object-position: left;
  border: 1px solid #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.categories-card h5 {
  font-family: var(--popp);
  margin-bottom: 0.25rem;
}

.categories-card p {
  font-size: 0.9rem;
}

.categories-card i {
  margin-right: 6px;
  transition: all 0.4s;
}

.categories-card:hover.categories-card i {
  margin-right: 0px;
}

.categories-con a {
  display: block;
}

/* {{{{{{{{choose us css}}}}}}}} */
.choose-bg-con {
  position: relative;
  background-color: var(--primary);
  padding: 60px 0px;
  overflow: hidden;
}

.choose-bg-con::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../img/icon/plane-icon.png") no-repeat bottom/contain;
  width: 20rem;
  height: 200px;
}

.choose-bg-con > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  mix-blend-mode: overlay;
  object-fit: cover;
  pointer-events: none;
  opacity: 70%;
}

.choose-us-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px 1.5rem;
  height: 100%;
}

.choose-us-card img {
  /* filter: invert(100%); */
  width: 40px;
}

.choose-us-card h3 {
  font-size: 20px;
  margin: 0px;
  /* color: white; */
}

.choose-us-card p {
  margin-top: 12px;
  font-size: 0.92rem;
  color: #111;
}

.footer_cta {
  position: relative;
}

.footer_cta::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #e5e8ec;
  width: 100%;
  height: calc(100% / 2);
  z-index: -1;
}

.footer_cta .container {
  position: relative;
  background-color: var(--secondary);
  padding: 40px 60px;
  margin-top: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.footer_cta .container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/icon/serv-bg.png) no-repeat center/cover;
  opacity: 0.75;
  z-index: 0;
}

.footer_cta .container .cta_title {
  font-family: var(--popp);
  font-weight: 600;
}

.footer_cta .container .cta_img {
  margin-left: -100px;
  margin-top: -5rem;
}

.footer_cta .container .cta_img img {
  max-width: 34rem;
}

.footer_cta .container .btn {
  background-color: #fff4;
  backdrop-filter: blur(2px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer_cta .container .btn:hover {
  background-color: #fff;
}

/* ================= footer ================= */

.footer {
  position: relative;
  /* background: rgba(237, 237, 237, 0.296); */
  background-color: #e5e7ea;
  background-image: url("../img/images/sec-bg2.png");
  background-repeat: repeat no-repeat;
  /* background: #cdffee38; */
  background-position: top center;
  padding-top: 2.5rem;
  overflow: hidden;
}

.footer .footer_content1 p {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 600;
}

.footer .footer_content1 div > a {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 0.4rem;
}

.footer .footer_content1 div > a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer .footer_content1 div > i {
  display: inline-block;
  padding: 8px;
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  color: var(--primary);
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.single_footer h4 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

.single_footer p {
  color: #000000;
}

.single_footer ul {
  padding: 0;
  list-style: none;
}

.single_footer h3 {
  font-size: 22px;
  position: relative;
  display: inline-block;
}

.single_footer h3::after {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 40px;
  right: -50px;
  top: 50%;
  content: "";
  border-radius: 100px;
  background-color: var(--secondary);
}

.single_footer ul li a {
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
  position: relative;
}

.single_footer ul li a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 0px;
  background-color: var(--primary);
  height: 1px;
  width: 0%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.single_footer ul li a:hover:after {
  left: 0;
  right: auto;
  width: 100%;
  color: var(--secondary);
}

.single_footer ul li a:hover {
  color: var(--secondary);
}

.single_footer_address ul li {
  color: #000000;
}

.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 40px;
}

.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li {
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #000000;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 40px;
  padding: 20px 0px;
  color: #000000;
  font-size: 15px;
  border-top: 1px solid rgba(183, 183, 183, 0.4);
  font-size: 12px;
}

.copyright p {
  font-size: 0.94rem;
}

.copyright a {
  /* color: #01c7e9; */
  transition: all 0.2s ease 0s;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* {{{{{{{{{{}}}}}}}}}} */
/* footer social css */
/* {{{{{{{{{}}}}}}}}} */
/* social media links css */
.footer-social {
  display: flex;
  column-gap: 15px;
}

.footer-social li a {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.footer-social li:hover {
  transform: translateY(-6px);
}

.footer-social li {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s;
}

.footer-social i {
  font-size: 18px;
}

.footer-social .facebook {
  background-color: #4867aa;
  color: white;
}

.footer-social .twitter {
  background-color: #333;
  color: white;
}

.footer-social .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: white;
}

.footer-social .pinterest {
  background: #e60023;
  color: white;
}

.footer-social .whatsapp {
  background: #25d366;
  color: white;
}

/* {{{{{{{{{{}}}}}}}}}} */
/* whatsapp-float css */
/* {{{{{{{{{}}}}}}}}} */
.whatsapp-float {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99;
  display: none;
  margin: 0px;
}

.whatsapp-float img {
  width: 50px;
  transition: all 0.4s;
  animation: whatsapp-pulse-animation 1.5s infinite;
  border-radius: 50%;
}

.whatsapp-float img:hover {
  transform: scale(1.1);
}

@keyframes whatsapp-pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #40fd3d8c;
  }

  100% {
    box-shadow: 0 0 0 14px #40fd3d00;
  }
}

/* {{{{{{{{{{}}}}}}}}}} */
/* top-float css */
/* {{{{{{{{{{}}}}}}}}}} */
.top-float {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 999;
}

.top-float .top-btn {
  background-color: rgba(236, 236, 236, 0);
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transition: all 0.4s;
  cursor: pointer;
}

.top-float .top-btn:hover {
  transform: translateY(-6px);
}

/* partner slider extra css */
.partnerSlider .swiper-slide .col-md-3 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  /* border: 1px solid red; */
  height: 100px;
  display: flex;
  align-items: center;
}

.service_sec {
  position: relative;
  padding-top: 3rem;
  /* overflow: hidden; */
}

.service_sec .aside {
  position: sticky;
  top: 60px;
}

.service_sec .service_wrap {
  position: relative;
  border: 1px solid #c8c1ed;
  background: #edeaff;
  box-shadow: 8px 8px 0px 0px #d9d5f1;
  padding: 2rem 2rem 1.8rem 2.5rem;
  margin-bottom: 30px;
  z-index: 1;
  border-radius: 20px;
  transition: all 0.3s ease-out 0s;
}

.service_sec .service_wrap .service_head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0.9rem;
}

.service_sec .service_wrap .service_head .service_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  flex: 0 0 auto;
  color: #fff;
  background: #5751e1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.service_sec .service_wrap .service_head h3 {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Poppins", serif;
}

.service_sec .service_wrap .service_head h5 {
  color: #5751e1;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.service_sec .service_wrap p {
  /* font-size: 1.05rem; */
  line-height: 26px;
}

.service_sec .service_wrap .serv_btn {
  background: transparent;
  border: 2px solid #002147;
  color: #002147;
  font-weight: 500;
}

.service_wrap .service_shape {
  position: absolute;
  right: 28px;
  top: 21px;
  opacity: 0.15;
  z-index: -1;
  animation: alternate star-anim 6s infinite ease-in-out;
  -webkit-animation: alternate star-anim 6s infinite ease-in-out;
  transform: rotate(0deg) scale(1.04);
  -webkit-transform: rotate(0deg) scale(1.04);
  -moz-transform: rotate(0deg) scale(1.04);
  -ms-transform: rotate(0deg) scale(1.04);
  -o-transform: rotate(0deg) scale(1.04);
}

@keyframes star-anim {
  to {
    transform: rotate(16deg) scale(0.85);
    -webkit-transform: rotate(16deg) scale(0.85);
    -moz-transform: rotate(16deg) scale(0.85);
    -ms-transform: rotate(16deg) scale(0.85);
    -o-transform: rotate(16deg) scale(0.85);
    opacity: 0.3;
  }
}

.service_sec .service_wrap:nth-of-type(2) {
  border: 1px solid #c9e4e9;
  background: #f1fdff;
  box-shadow: 8px 8px 0px 0px #c9e4e9;
}

.service_sec .service_wrap:nth-of-type(2) .service_head h5 {
  color: #00cce7;
}

.service_sec .service_wrap:nth-of-type(2) .service_head .service_icon {
  background: #1bcbe3;
}

.service_sec .service_wrap:nth-of-type(3) {
  border: 1px solid #ebe0c4;
  background: #fff7e2;
  box-shadow: 8px 8px 0px 0px #e5decb;
}

.service_sec .service_wrap:nth-of-type(3) .service_head h5 {
  color: #e4a300;
}

.service_sec .service_wrap:nth-of-type(3) .service_head .service_icon {
  background: #ffc224;
}

/* =============== */
.service_img {
  position: relative;
  z-index: 1;
  max-width: 400px;
  width: 100%;
  height: 520px;
  border-radius: 1000px;
  background: #fff;
  box-shadow: 9px 8px 0px #171717;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #eeee;
}

.service_img-two {
  background: #fafafa;
  box-shadow: 6px 8px 0px #b8b8b8;
}

.service_img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  max-width: 350px;
}

.service_img .shape-one {
  position: absolute;
  left: 27%;
  top: 11%;
  z-index: -1;
}

.service_img .shape-one svg {
  color: var(--secondary);
  opacity: 0.5;
}

.service_img .shape-two {
  width: 61px;
  height: 46px;
  position: absolute;
  right: 25%;
  top: 10%;
}

.service_img .shape-two .svg-icon {
  width: 100%;
  height: 100%;
  display: block;
}

/* ================  Page Breadcrumb  ===================== */

.breadcrumb-con {
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.423)), url("../img/images/contact.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.breadcrumb-con h1 {
  color: white;
}

.breadcrumb-con a {
  color: white;
}

.line {
  border-bottom: 1px solid rgba(128, 128, 128, 0.186);
  width: 100%;
  margin: 20px 0px;
}

.breadcrumb_area {
  position: relative;
  padding-block: 100px 60px;
  overflow: hidden;
}

.breadcrumb_area::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #fff, transparent, #ebfaf7);
  z-index: 0;
}

.breadcrumb_area .breadcrumb_content {
  position: relative;
  z-index: 3;
}

.breadcrumb_area .breadcrumb__shape-wrap :is(img, svg) {
  position: absolute;
  z-index: 1;
}

.breadcrumb_area .breadcrumb__shape-wrap svg {
  fill: red;
}

.breadcrumb__shape-wrap img:nth-child(1) {
  left: 69px;
  top: 52px;
}

.breadcrumb__shape-wrap img:nth-child(2) {
  top: 5%;
  left: 25%;
}

.breadcrumb__shape-wrap img:nth-child(3) {
  top: 5px;
  right: 69px;
}

.breadcrumb__shape-wrap img:nth-child(5) {
  right: 0;
  top: 0;
}

/* =================  Conatct Page ================= */

.contact-us-con-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 1100px;
  margin-inline: auto;
  border: 1px solid #eeee;
  background-color: rgba(187, 188, 255, 0.05);
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}

.contact-us-col-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-us-con-wrapper .contact-us-form-con {
  position: relative;
  padding: 2rem 3rem 2.5rem;
  margin-left: 1rem;
}

.contact-us-con-wrapper .contact-us-form-con::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/images/icon-dotted-map.png") no-repeat center/contain;
  z-index: -1;
  opacity: 0.6;
}

.contact-us-form-con form h3 {
  margin-bottom: 20px;
}

.contact-us-form-con form input,
.contact-us-form-con form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: none !important;
  /* border: 1px solid rgba(0, 0, 0, 0.117); */
  /* border-radius: 9px; */
  margin-bottom: 1.25rem;
  padding: 1rem 0.75rem 5px;
  outline: none;
}

.contact-us-form-con form input::placeholder,
.contact-us-form-con form textarea::placeholder {
  color: #666;
}

.contact-us-form-con form input:focus,
.contact-us-form-con form textarea:focus {
  /* outline: 2px solid var(--primary); */
  border-bottom: 1px solid var(--secondary);
}

.contact-us-form-con form input {
  height: 45px;
}

.contact-us-form-con form textarea {
  resize: none;
  height: 90px;
}

.contact-social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 15px;
}

.contact-social-media a:hover {
  text-decoration: underline !important;
}

.social-media-icon-con {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--secondary);
}

/* ================= Home page about Section ================= */

.about_sec img {
  max-width: 100%;
  height: auto;
}

.about_sec_left {
  position: relative;
  /* height: 620px; */
  /* width: 100%; */
  text-align: center;
  margin-inline: auto;
  margin-bottom: 30px;
  overflow: hidden;
}

.about_sec_left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, #fff6, #fff);
}

.about_sec_left .about_left_bg {
  opacity: 0.7;
}

.about_left_main {
  position: absolute;
  bottom: 2px;
  right: 18px;
  width: 84%;
}

/* ====================   About us  page   ============== */

.aboutp_sec .about_box {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.aboutp_sec .about_box .content h6 {
  font-size: 1.1rem;
  color: #333;
  font-family: var(--popp);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.aboutp_sec .about_box .content p {
  color: #555;
  font-size: 0.94rem;
}

.aboutp_sec .btn.about_btn:hover {
  color: #fff;
  background-color: var(--primary);
}

.about-con img {
  border-radius: 30px;
  outline: 2px solid #fffa;
  outline-offset: -10px;
}

.aboutp_sec .call-now {
  transition: all 0.4s;
}

.aboutp_sec .call-now i {
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  color: #fffe;
  background-color: #09b850;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.call-now:hover.call-now i {
  animation: tilt-shaking 0.36s infinite;
}

.aboutp_sec .call-now h6 {
  font-family: var(--popp);
}

@keyframes tilt-shaking {
  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

.our-mission-con {
  border-radius: 22px;
  background-color: var(--primary);
  padding-inline: 2rem;
  color: white;
  position: relative;
}

.our-mission-con p {
  color: white;
}

.our-mission-con i {
  font-size: 20px;
}

.our-mission-con > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 0;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.our-mission-con .missionimg_box {
  position: relative;
  /* opacity: .95; */
  height: 16rem;
}

.our-mission-con .missionimg_box img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 25rem;
}

@media (min-width: 991px) {
  .our-mission-con .missionimg_box img {
    max-width: 28rem;
    width: 100%;
  }
}

.our-mission-con .mission_content {
  padding: 2.5rem 1rem;
}

.usp-card {
  border: 1px solid var(--primary);
  padding: 15px 30px;
  border-radius: 12px;
  height: 100%;
  box-shadow: 6px 6px 0px var(--primary);
}

.usp-card h3 {
  font-size: 1.25rem;
  font-family: var(--popp);
  font-weight: 600;
}

.about-test-con img {
  max-height: 40px;
  max-width: 100%;
}

.about-test-con .icon-con {
  width: 20px;
  height: 20px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}

.about-test-con ul {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
}

.about-test-con ul li {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.about-test-con .test-img-con {
  /* border:1px solid var(--secondary); */
  /* display: flex;
    justify-content: center;
    align-items: center; */
  text-align: center;
  padding: 2rem 20px;
  /* border-radius: 12px; */
  /* background-color: #fff; */
  /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.100); */
}

.about_test_img .row > div {
  border: 0px solid #ddd;
}

.about_test_img .row > div:nth-of-type(1) {
  border-bottom-width: 2px;
}

.about_test_img .row > div:nth-of-type(2) {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
}

.about_test_img .row > div:nth-of-type(3) {
  border-bottom-width: 2px;
}

.about_test_img .row > div:nth-of-type(5) {
  border-left-width: 2px;
  border-right-width: 2px;
}

@media (max-width: 600px) {
  .about-test-con ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .about-test-con img {
    max-height: 25px;
    mix-blend-mode: multiply;
  }
}

.our-values-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-values-card .icon-con img {
  width: 70px;
}

.our-values-card h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
}

.about-choose-card {
  background-color: rgba(223, 223, 223, 0.16);
  padding: 35px;
  position: relative;
  border-radius: 12px;
  border-bottom: 1px solid var(--primary);
  height: 100%;
}

.about-choose-card h1 {
  position: absolute;
  right: 10px;
  top: 0px;
  color: var(--secondary);
  opacity: 10%;
  pointer-events: none;
  font-size: 85px !important;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondary);
}

.about-choose-card h3 {
  display: flex;
  column-gap: 12px;
  align-items: center;
  font-size: 1.5rem;
}

.about-choose-card h3 i {
  font-size: 20px;
}

/* ===================  Test Page  ===================== */
.test_sec .test_container :is(h4, h5) {
  font-family: var(--popp);
}

.test_sec .test_container :is(h5, h6) {
  color: #222;
}

.test-col-one-con .sticky-con {
  position: sticky;
  top: 2rem;
  /* }
.sticky-con { */
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 0.75rem;
}

.test-col-one-con ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.test-col-one-con ul li {
  position: relative;
  width: 100%;
  margin-bottom: 6px;
  padding-left: 8px;
  padding-block: 0.4rem;
  transition: all 0.4s;
  cursor: pointer;
}

.test-col-one-con ul li:not(:last-of-type) {
  border-bottom: 1px solid #eeed;
}

.test-col-one-con ul li:not(.active):hover {
  transform: translateX(6px);
}

.test-col-one-con ul li.active {
  transition: all 0.4s;
  font-weight: 500;
}

.test-col-one-con ul li.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 3px;
  margin-bottom: 6px;
  border-radius: 12px;
  background-color: var(--secondary);
  height: 90%;
}

.test-ul-con {
  list-style: circle;
  list-style-type: circle;
  margin-top: 10px;
  padding: 0px;
  padding-left: 20px;
}

.test-ul-con li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
  padding-bottom: 8px;
}

/* {{{{table}}}} */
table {
  font-size: 0.94rem;
  background-color: #d7f5ef;
  vertical-align: middle;
}

table thead th {
  padding: 15px 20px !important;
  font-weight: 600;
  background-color: aliceblue !important;
  /* background-color: #ebfaf7 !important; */
}

table td {
  padding: 0.7rem 1rem 0.5rem !important;
}

/* ==================  Blog  Section Start ================ */

.allblog_sec {
  position: relative;
  overflow: hidden;
  padding: 4em 0 2em;
}

.allblog_sec .blog-entry {
  border: 1px solid #f2f2f2;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.allblog_sec .blog-entry:hover > a {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 2.5s;
  -webkit-transition: 2.5s;
  -moz-transition: 2.5s;
  -ms-transition: 2.5s;
  -o-transition: 2.5s;
}

.allblog_sec .blog-entry a {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.allblog_sec .blog-entry a:hover {
  color: var(--secondary);
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}

.blog-entry .blog_content {
  position: relative;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem 1rem;
}

.blog-entry .blog_content h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  font-family: var(--popp);
}

.blog-entry .blog_content h3 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  /* color: #000; */
}

.blog-entry .blog_content p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #111;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.blog-entry .blog_content span {
  font-size: 0.92rem;
  color: #555;
}

.blog-entry .blog_content span:last-of-type a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#blogdetail_sec {
  position: relative;
  padding: 4em 0 2em;
  overflow: hidden;
}

#blogdetail_sec img {
  max-height: 360px;
  height: 100%;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.page_container {
  padding: 3rem 4rem 4rem;
  box-shadow: 0 2px 15px #ddd;
}

#blogdetail_sec h4.blog_title {
  font-family: var(--popp);
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

#blogdetail_sec * {
  color: #111;
}

#blogdetail_sec :is(h1, h2, h3, h4, h5, h6) {
  display: inline-block;
}

#blogdetail_sec :is(h1, h2, h3, h4, h5, h6)::after,
#blogdetail_sec :is(h1, h2, h3, h4, h5, h6)::before {
  content: none;
}

#blogdetail_sec :is(h3, h4, h5, h6) {
  font-family: var(--popp);
  font-weight: 500;
}

#blogdetail_sec h4 {
  font-size: 1.5rem;
}

#blogdetail_sec h5 {
  font-size: 1.25rem;
}

#blogdetail_sec h6 {
  font-size: 1.1rem;
}

#blogdetail_sec a {
  color: #2ca38e;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

#blogdetail_sec p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

#blogdetail_sec p > u {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

#blogdetail_sec :is(ul, ol) {
  margin-bottom: 0.75rem;
}

#blogdetail_sec :is(ul, ol) li {
  margin-bottom: 0.5rem;
}

#blogdetail_sec ul li {
  list-style: disc;
}

#blogdetail_sec .blog_date {
  margin-top: 1.5rem;
  text-align: right;
  color: #444;
  text-transform: capitalize;
}

/* ================== Accommodations  Page ================= */

.accomm_hero {
  width: 100%;
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.accomm_hero .content {
  position: absolute;
  left: 7.5%;
  top: 52%;
  /* transform: translatey(-50%); */
  color: #fff;
  z-index: 50;
  user-select: none;
}

.accomm_hero .content span {
  display: block;
  /* margin-bottom: 0.625rem; */
  /* font-weight: 300; */
  color: #eee;
}

.accomm_hero .content h2 {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px #222;
}

.accomm_hero .content p {
  letter-spacing: 1px;
}

.accomm_hero .content hr {
  display: block;
  width: 3rem;
  border: none;
  height: 0.125rem;
  background: #fff;
  margin-top: 0.938rem;
  margin-inline: 0.313rem;
}

.accomm_hero footer {
  position: absolute;
  z-index: 50;
  left: 1rem;
  bottom: 1rem;
  transform: translatey(-50%);
}

@media screen and (min-width: 37.5rem) {
  .accomm_hero footer {
    left: 4rem;
  }
}

.accomm_hero footer ul {
  list-style: none;
  display: flex;
  gap: 1.563rem;
}

.accomm_hero footer ul li {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--secondary);
}

.accomm_hero footer ul li span {
  font-size: 0.8rem;
  opacity: 0.4;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  margin-right: 0.5rem;
}

.accomm_hero_main {
  width: 100%;
  height: 100%;
}

.accomm_hero_main .swiper-slide {
  width: auto;
  height: 100%;
}

.accomm_hero_main .swiper-slide::after {
  position: absolute;
  content: "";
  height: calc(100% / 2);
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.accomm_hero_main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.accomm_hero .swiper-pagination {
  position: relative;
  bottom: -0.313rem;
  text-align: left;
}

.accomm_hero .swiper-pagination-bullet {
  border-radius: 0;
  width: 1.125rem;
  height: 0.25rem;
  background: #fff;
}

.accomm_hero .swiper-pagination-bullet-active {
  background: #fff;
}

.accomm_hero .more {
  display: none;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  opacity: 0.3;
  font-size: 0.8rem;
  transform: translateY(-0.938rem);
  position: absolute;
  right: 1.875rem;
  letter-spacing: 0.1rem;
  z-index: 10;
}

@media screen and (min-width: 37.5rem) {
  .accomm_hero .more {
    display: inline-block;
  }
}

.accomm_hero .more:hover {
  opacity: 1;
}

.accomm_hero_thumbs {
  position: absolute;
  padding: 0;
  width: 15rem;
  bottom: 5rem;
  right: 0;
  /* padding-inline: 10px; */
  overflow: hidden;
}

@media screen and (min-width: 37.5rem) {
  .accomm_hero_thumbs {
    width: 25rem;
  }
}

.accomm_hero_thumbs .swiper-slide {
  width: 6.25rem;
  height: 6.25rem;
  text-align: center;
  border: 2px solid #fffd;
  overflow: hidden;
  opacity: 0.7;
}

.accomm_hero_thumbs .swiper-slide-active {
  opacity: 1;
  border: 2px solid #fff;
}

.accomm_hero_thumbs .swiper-slide img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 62.188rem) and (max-height: 43.75rem) {
  .content {
    top: 30% !important;
    transform: translatey(-30%);
  }
}

.accomm_cta {
  position: relative;
  background-color: #fff;
  padding: 1rem 0;
  overflow: hidden;
  z-index: 0;
}

.accomm_cta::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: calc(100% / 2);
  background-color: #e5e8ec;
  z-index: -1;
}

.accomm_cta > .container {
  background-color: #fff;
  padding-block: 2rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0 2px 15px #dddd;
}

.accomm_cta .cta_content {
  display: block;
  text-align: center;
}

/* ================ */

.home_hotel_sec .room_item {
  overflow: hidden;
  border-radius: 4px 5px 10px 10px;
  box-shadow: 0px 4px 14px #eee;
}

.room_item .room_item_img {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.room_item .room_item_img img {
  width: 100%;
  min-height: 100%;
  height: auto;
  transition: 2s;
}

.room_item:hover .room_item_img img {
  scale: 1.2;
}

.home_hotel_sec .room_item .home_hotel_info {
  padding: 1rem 0.9rem 0.6rem;
}

.room_item .home_hotel_info h6 {
  font-family: var(--popp);
  font-weight: 500;
  font-size: 90%;
  margin-top: 10px;
}

.room_item .home_hotel_info h5 {
  font-weight: 500;
  font-family: var(--popp);
}

.hotel_location_sec {
  padding-block: 30px 20px;
  background-color: #eef4f8;
}

.hotel_location_sec .hotel_location {
  display: grid;
  gap: 0.8rem 1.2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  font-family: var(--popp-font);
  font-size: 94%;
}

.hotel_location_sec .hotel_location a {
  color: #222;
  transition: 0.4s;
}

.hotel_location_sec .hotel_location a:hover {
  color: var(--primary);
}
