.study-breadcrumb-con {
    background: linear-gradient(157deg, rgb(171 255 229 / 21%) 13%, rgba(184, 184, 184, 0) 67%);
    padding: 60px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.study-breadcrumb-con img {
    /* mix-blend-mode: darken; */
    border-radius: 12px;
    width: 160px;
}

.study-breadcrumb-con i {
    position: absolute;
    left: -20px;
    top: -20px;
    font-size: 30px;
    transform: rotate(-25deg);
}


.why-study-card h4 {
    font-size: 20px;
}

.why-study-card p {
    font-size: 15px;
}


.why-study-card {
    border-radius: 20px;
    padding: 20px 25px;
    transition: all 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.038);
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.038);
}

.why-study-card .icon-con {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    transition: all 0.4s;
}

.why-study-card:hover.why-study-card .icon-con {
    transform: rotateY(360deg);
}

@media(max-width:600px) {
    .why-study-card h4 {
        font-size: 17px;
    }


    .why-study-card {
        padding: 20px;

    }
}



/* one */
.why-study-card.one .icon-con {
    background-color: rgba(255, 0, 0, 0.55);
}

/* two */


.why-study-card.two .icon-con {
    background-color: rgba(255, 136, 0, 0.55);
}


/* four */


.why-study-card.four .icon-con {
    background-color: rgba(43, 0, 255, 0.55);
}


/* top universities css */

.top-universities-card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.082);
}


.top-universities-card img {
    width: 130px;
}

.top-universities-card h4 {
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

.top-universities-card .location {
    font-size: 12px;
}

.top-universities-card i {
    margin-top: 1px;
}

.top-universities-info-con {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

}

.top-universities-info {
    display: flex;
}

.top-universities-info {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.top-universities-info i {
    font-size: 30px;
}

.top-universities-info h5 {
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 14px;
    font-weight: 400;
}


.top-universities-info p {
    font-weight: 500;
    color: var(--secondary);
    font-size: 16px;
}

.top-universities-card .btn {
    border-radius: 70px;
    margin-top: 10px;
    /* padding: 10px 17px; */
    transition: all 0.4s;
    display: flex;
    column-gap: 10px;
    /* background-color: var(--primary); */
    padding: 10px 15px;
    align-items: center;
    /* color: white; */
    font-weight: 500;
    border: 1px solid var(--primary);
}

.top-universities-card .btn>div {
    /* width: 30px;
    height: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    color: var(--primary);
}

.top-universities-card .btn:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.156);
}


@media(max-width:600px) {

    .top-universities-card {
        padding: 20px;
    }

    .top-universities-card img {
        width: 70px;
    }

    .top-universities-card h4 {
        font-size: 16px;
    }

    .top-universities-info i {
        margin-top: 6px;
    }

    .top-universities-info i {
        font-size: 23px;
    }

    .top-universities-info h5 {
        margin: 0px;
        padding: 0px;
        color: black;
        font-size: 11px;
    }

    .top-universities-card .btn {
        font-size: 14px;
    }

    .top-universities-card .btn>div {
        width: 25px;
        height: 25px;
    }

}


/* .university-form-con-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 99;
    display: flex;
    align-items: center;
}

.university-form-con{
    max-width: 1100px;
    margin: auto;
    background-color: white;
    height: 100px;
} */

.university-form-con {

    display: grid;
    grid-template-columns: 40% 60%;
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.271); */
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.147); */
    border-radius: 12px;
    background-color: white;
    position: relative;
}


.university-form-con input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0px 6px;
    /* margin-bottom: 14px; */
    margin: auto;
    margin-bottom: 22px;
    font-size: 16px;
}

.university-form-con form {
    padding: 30px;
}

.university-form-con form div {
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
}

.form-input-con {
    display: flex;
    gap: 12px;
}

.form-input-con input {
    flex-grow: 1;
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.university-form-con-close {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.797);
    color: white;
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 6px 6px 0px 0px;
    cursor: pointer;
}

.down-z::after {
    z-index: 0 !important;
}

.university-info-sticky-wrapper {
    border-top: 1px solid rgba(128, 128, 128, 0.437);
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    top: 0;
    position: sticky !important;
    background-color: rgba(255, 255, 255, 0.859);
    backdrop-filter: blur(10px);
    z-index: 9;
    margin-bottom: 60px;
}


.university-info-sticky {
    display: flex;
    overflow-x: auto;
    padding: 15px 0px;
    text-wrap: nowrap;
    column-gap: 12px;
}

.university-info-sticky a {
    transition: all 0.4s;
    padding: 10px 20px;
    font-weight: 500;
}

.university-info-sticky a:hover {
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.169);
    border-radius: 60px;
}

.university-info-sticky::-webkit-scrollbar {
    width: 1px;
    height: 6px;
}

.university-info-sticky::-webkit-scrollbar-track {
    border-radius: 10px;
}

.university-info-sticky::-webkit-scrollbar-thumb {
    border-radius: 10px;
background-color: rgba(128, 128, 128, 0.468);
height:6px;
}


@media(max-width:600px) {
    .university-form-con form div {
        font-size: 14px;
        font-weight: 500;
        /* text-wrap: nowrap; */
    }

    .university-info-sticky a{
font-size: 14px;
    }
}

@media(max-width:768px) {
    .university-form-con {
        grid-template-columns: 1fr;
    }

    .form-input-con input {
        width: 60%;
    }

    .university-form-con input {
        font-size: 14px;
    }

    .university-info-sticky {
        padding:6px 0px;
        column-gap: 4px;
    }

    .university-info-sticky-wrapper {
        margin-bottom: 30px;
    }
    
}